.modal_background {
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: hsl(0deg 0% 0% / 44%);
}

.modal_content {
    background-color: skyblue;
    height: fit-content;
    padding: 1rem 1rem;
}